<html class="betting-pg">
  <h4> Place your bet on dice number (1 to 6) </h4>
  <% if session[:message] %>
    <h3> <%= session[:message] %> </h3>
    <% session[:message] = nil %>
  <% end %>


  <style>
    .bettingSec  {float: left;}
    .sessionData {float: left;}
    .bettingSec  {width: 50%; height: 20%;}
    .sessionData {width: 50%; height: 20%;}
    .win {float: left;}
    .loss {float: left;}
    .profit {float: right;}
  </style>

  <form action="/bet" method="post">
    <div style="text-align:center;">
      <div class="bettingSec">
        <br>
        Bet money <input type='text' name="money"> </input><br><br>
        Betting on <input type='text' name="number"> </input>
      </div>

      <div class="sessionData">
        Total win<br>
        <input type='text' name='win' value=<%= @winSess %> disabled></input><br>
        Total loss<br>
        <input type='text' name='loss' value=<%= @lossSess %> disabled ></input><br>
        Total profit (if you win, amount<br> betted will not be counted in profit.)<br>
        <input type='text' name='profit' value=<%= @profitSess %> disabled ></input><br>
      </div>
      <input type=submit value="Bet">
      <br><br><br>
    </div>

    <div class"accountHistory" style="text-align:center;">
      <table>
        <tr>
        <h4> Account History </h4>
        <td width=40%>
           Total Win <br>
           <input type='text' name='totalWins' value=<%= @totalWinsdb %> disabled></input><br>
        </td>
        <td width=40%>
          Total Loss <br>
          <input type='text' name='totalLoss' value=<%= @totalLossdb %> disabled></input><br>
        </td>
        <td width=40%>
          Total Profit <br>
          <input type='text' name='totalProfit' value=<%= @totalProfitdb %> disabled></input><br>
        </td>
        </td>
        </tr>
      </table>
      <br><br>
      <input type=submit value="LogOut" formaction='/logout'>
    </div>
  </form>

</html>
